.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "...", :src => @artist.images[0]["url"]}/
  .card-body
    %h5.card-title 
      = @artist.name.titleize
    %p.card-text 
      = "Spotify Followers: #{@artist.followers["total"]}"
      = "Popularity Spot: #{@artist.popularity}"
    / %a.btn.btn-primary{:href => "#"} Go somewhere


