!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Portfolio", :name => "description"}/
    %meta{:content => "Tommy Joa Wu", :name => "author"}/
    %title Spotify API
    / Favicon
    / %link{:href => "assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:src => "/assets/favicon.ico"}
    / Font Awesome icons (free version)
    %script{:crossorigin => "anonymous", :src => "https://use.fontawesome.com/releases/v6.1.0/js/all.js"}
    / Google fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    / Core theme CSS (includes Bootstrap)
    %link{:href => "css/styles.css", :rel => "stylesheet"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %body#page-top
      = render "layouts/navbar"
      = yield
      = render "layouts/footer"
/ Bootstrap core JS
%script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"}
/ Core theme JS
%script{:src => "js/scripts.js"}
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
/ * *                               SB Forms JS                               * *
/ * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
/ * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
%script{:src => "https://cdn.startbootstrap.com/sb-forms-latest.js"}